@using API.Net.Models
@using API.Net.ViewModel

@{
    Layout = "AdminLayout";
}

@{
    List<Subcategory> subcategories = (List<Subcategory>)ViewBag.Subcategories;
}

@section Styles {
    <!-- Kiểu CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/admin-ruleset.css">
    <link rel="stylesheet" href="~/assets/css/basicinput.css">
    <link rel="stylesheet" href="~/assets/css/InputViaIcon.css">
    <link rel="stylesheet" href="~/assets/css/admin-manageproduct.css">
    <link rel="stylesheet" href="~/assets/css/notification.css">
    <link rel="stylesheet" href="~/assets/css/arccordion.css">
    <link rel="stylesheet" href="~/assets/css/product-detail.css">


    <!-- CKeditor 4 -->
    <script src="~/assets/ckeditor/ckeditor.js"></script>
}

@section Scripts {
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/exitfFunc.js"></script>
    <script src="~/assets/js/datatableAjax.js"></script>
}

        <div class="content grid-item content-grid">
            <div class="main-grid">
                <nav class="navbar tag-line _4c _1r">
                    <div class="nav-back-prev">
                        <div class="breadcumb">
                            <div class="breadcumb-icon f-s-25">
                                <i class="fa-solid fa-table-list"></i>
                            </div>
                            <a href="#" class="f-bold f-s-25 breadcumb-text">Quản lý sản phẩm</a>
                        </div>
                    </div>
                    <div class="funcproduct">
                        <a href="admin_addproduct.jsp" class="button bg_green f-cl-white">Thêm mới</a>
                    </div>
                </nav>
                <div class="product-table table _4c _6r">
                    <table id="example" class="display compact" style="width:100%">
                        <thead>
                            <tr>
                                <th>Img</th>
                                <th>Tên Sp</th>
                                <th>Giá</th>
                                <th>Tồn kho</th>
                                <th>Trạng thái</th>
                                <th>Chỉnh sửa</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal micromodal-slide" id="update_id_modal" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <header class="modal__header">
                        <h2 class="modal__title">
                            Cập nhật trạng thái
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal-content-content">
                        <div class="modal__content">
                            <div class="fui-basic-input" style="width: 100%">
                                <label for="update_active_id" class="f-bold f-s-14 f-cl-black">Kích hoạt</label>
                                <select name="update_active_id" id="update_active_id" class="input input-bordered f-s-14" required>
                                    <option value="true">Bật</option>
                                    <option value="false">Tắt</option>
                                </select>
                            </div>
                        </div>
                        <footer class="modal__footer">
                            <button class="button bg_green f-cl-white" id="update_id_btn">Cập nhật</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal micromodal-slide" id="update_product_modal" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <header class="modal__header">
                        <h2 class="modal__title">
                            Cập nhật thông tin sản phẩm
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal-content-content">
                        <div class="modal__content">
                            <div class="product-name _4c">
                                <div class="fui-basic-input flex-column gap-6">
                                    <label for="productname" class="f-bold f-s-14 f-cl-black">Tên sản phẩm</label>
                                    <input type="text" name="name" placeholder="Nhập tên sản phẩm" class="input input-bordered f-s-14" id="productname" autocomplete="off" />
                                </div>
                            </div>
                            <div class="poduct-quantity _1c">
                                <div class="fui-basic-input flex-column gap-6">
                                    <label for="productquantity" class="f-bold f-s-14 f-cl-black">Tồn kho</label>
                                    <input type="number" name="quantity" placeholder="Nhập số lượng" class="input input-bordered f-s-14" id="productquantity" autocomplete="off" />
                                </div>
                            </div>
                    <div class="poduct-sell _1c">
                        <div class="fui-basic-input flex-column gap-6">
                            <label for="sell" class="f-bold f-s-14 f-cl-black">Đã bán</label>
                            <input type="number" name="sell" placeholder="Nhập số lượng" class="input input-bordered f-s-14" id="sell" autocomplete="off" readonly/>
                        </div>
                    </div>
                            <div class="product-price _4c">
                                <div class="fui-basic-input flex-column gap-6">
                                    <label for="productprice" class="f-bold f-s-14 f-cl-black">Giá Sản phẩm</label>
                                    <input type="number" name="price" placeholder="Nhập giá" class="input input-bordered f-s-14" id="productprice" autocomplete="off" />
                                </div>
                            </div>
                            <div class="product-price-promotion _4c">
                                <div class="fui-basic-input flex-column gap-6">
                                    <label for="price_promotion" class="f-bold f-s-14 f-cl-black">Khuyến mãi</label>
                                    <input type="number" name="price_promotion" placeholder="Nhập giá khuyến mãi" class="input input-bordered f-s-14" id="price_promotion" autocomplete="off" />
                                </div>
                            </div>
                            <div class="poduct-form _4c">
                                <div class="fui-basic-input flex-column gap-6">
                            <label for="sub_category" class="f-bold f-s-14 f-cl-black"> Loại sản phẩm</label>
                            <select name="sub_category" id="sub_category" class="input input-bordered f-s-14">
                                        
                                @foreach(var item in subcategories)
                                {
                                    <option value="@item.SubcategoryId">@item.Name</option>
                                }
                            </select>
                                </div>
                            </div>
                    <div class="fui-basic-input flex-column gap-6">
                        <label for="des" class="f-bold f-s-14 f-cl-black">
                            Mô tả sản phẩm
                        </label>
                        <textarea class="editor-label" name="des" id="des" cols="30" rows="10"></textarea>
                    </div>
                            <div class="product-img _4c">
                                <div class="fui-basic-input flex-column gap-6">
                                    <label for="productimg" class="f-bold f-s-14 f-cl-black">Hình ảnh</label>
                                    <input type="text" name="productimg" placeholder="Nhập giá" class="input input-bordered f-s-14" id="productimg" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <footer class="modal__footer">
                            <button class="button bg_green f-cl-white" id="update_product_btn">Cập nhật</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal micromodal-slide" id="update_spec_modal" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <header class="modal__header">
                        <h2 class="modal__title">
                            Thông Số Sản Phẩm
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal-content-content">
                        <div class="modal__content">
                    <div class="fui-basic-input flex-column gap-6">
                        <label for="update_dimension_val" class="f-bold f-s-14 f-cl-black">Kích thước</label>
                        <input type="text" name="update_dimension_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_dimension_val" autocomplete="off" />
                    </div>
                    <div class="fui-basic-input flex-column gap-6">
                        <label for="update_material_val" class="f-bold f-s-14 f-cl-black">Chất liệu</label>
                        <input type="text" name="update_material_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_material_val" autocomplete="off" />
                    </div>
                    <div class="fui-basic-input flex-column gap-6">
                        <label for="update_original_val" class="f-bold f-s-14 f-cl-black">Xuất xứ</label>
                        <input type="text" name="update_original_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_original_val" autocomplete="off" />
                    </div>
                    <div class="fui-basic-input flex-column gap-6">
                        <label for="update_standard_val" class="f-bold f-s-14 f-cl-black">Mô tả</label>
                        <input type="text" name="update_standard_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_standard_val" autocomplete="off" />
                    </div>
                        </div>
                <footer class="modal__footer">
                    <button class="button bg_green f-cl-white" id="update_spec_btn">Cập nhật</button>
                </footer>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal micromodal-slide" id="update_spec" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <header class="modal__header">
                        <h2 class="modal__title">
                            Thông số sản phẩm
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal-content-content">
                        <div class="modal__content">
                            <div class="fui-basic-input flex-column gap-6">
                        <label for="update_dimension_val" class="f-bold f-s-14 f-cl-black">Kích thước</label>
                        <input type="text" name="update_dimension_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_dimension_val" autocomplete="off" />
                            </div>
                    <div class="fui-basic-input flex-column gap-6">
                        <label for="update_material_val" class="f-bold f-s-14 f-cl-black">Chất liệu</label>
                        <input type="text" name="update_material_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_material_val" autocomplete="off" />
                    </div>
                    <div class="fui-basic-input flex-column gap-6">
                        <label for="update_original_val" class="f-bold f-s-14 f-cl-black">Xuất xứ</label>
                        <input type="text" name="update_original_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_original_val" autocomplete="off" />
                    </div>
                    <div class="fui-basic-input flex-column gap-6">
                        <label for="update_standard_val" class="f-bold f-s-14 f-cl-black">Mô tả</label>
                        <input type="text" name="update_standard_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_standard_val" autocomplete="off" />
                    </div>
                        </div>
                        <footer class="modal__footer">
                            <button class="button bg_green f-cl-white" id="update_spec_btn">Cập nhật</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal micromodal-slide" id="update_color_modal" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <header class="modal__header">
                        <h2 class="modal__title">
                            Màu sản phẩm
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal-content-content">
                        <div class="modal__content">
                            <table id="color" class="display compact" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Giá trị</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal micromodal-slide" id="add_color" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <header class="modal__header">
                        <h2 class="modal__title">
                            Thêm màu
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal-content-content">
                        <div class="modal__content">
                            <div class="fui-basic-input" style="width: 100%">
                                <label for="add_color_type" class="f-bold f-s-14 f-cl-black">Kích hoạt</label>
                                <select name="add_color_type" id="add_color_type" class="input input-bordered f-s-14" required>
                                </select>
                            </div>
                            <div class="fui-basic-input flex-column gap-6">
                                <label for="add_color_val" class="f-bold f-s-14 f-cl-black">Đường dẫn</label>
                                <input type="text" name="add_color_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="add_color_val" autocomplete="off" />
                            </div>
                        </div>
                        <footer class="modal__footer">
                            <button class="button bg_green f-cl-white" id="add_color_btn">Cập nhật</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal micromodal-slide" id="update_color" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <header class="modal__header">
                        <h2 class="modal__title">
                            Cập nhật đường dẫn
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal-content-content">
                        <div class="modal__content">
                            <div class="fui-basic-input flex-column gap-6">
                                <label for="update_color_val" class="f-bold f-s-14 f-cl-black">Đường dẫn</label>
                                <input type="text" name="update_color_val" placeholder="Nhập giá trị" class="input input-bordered f-s-14" id="update_color_val" autocomplete="off" />
                            </div>
                        </div>
                        <footer class="modal__footer">
                            <button class="button bg_green f-cl-white" id="update_color_btn">Cập nhật</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal micromodal-slide" id="update_des" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                    <header class="modal__header">
                        <h2 class="modal__title">
                            Mô Tả sản phẩm
                        </h2>
                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                    </header>
                    <div class="modal-content-content">
                        <div class="modal__content">
                            
                        </div>
                        <footer class="modal__footer">
                            <button class="button bg_green f-cl-white" id="update_des_btn">Cập nhật</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>


